@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto&display=swap');

:root{
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
    --color-scheme-main: #6b21a8;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header{
    display: flex;
    font-family: 'Oleo Script', cursive;
    font-size: 3rem;
    color: white;
    background-color: var(--color-scheme-main);
    padding: 1% 10%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    border: 2px solid var(--color-scheme-main);
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
    min-width: fit-content;
}

.grid-item{
    border: 1px solid var(--color-scheme-main);
    border-radius: 4px;
    padding: 8px;
}

.btn-addBook{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 2rem;
    background-color: var(--color-scheme-main);
    border: none;
    color: white;
    flex: 0;
}

.btn-addBook:active{
    background-color: #9333ea;
}

div[class="overlay hidden"] {
    display: none;
}

div[class="overlay visible"]{
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.2);
}

form.new-book{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-scheme-main);
    padding: 16px;
    gap: 8px;
    width: fit-content;
    background-color: white;
    border-radius: 8px;
}

form.new-book > *{
    display: flex;
    gap: 8px;
    flex: 1;
    align-items: center;
}

form.new-book button{
    justify-content: center;
}

form.new-book > div:first-child{
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.4rem;
}

form.new-book div label{
    min-width: 100px;
    text-align: right;
}

form.new-book div label + *{
    flex: 1;
}