@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto&display=swap');

:root{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-width: 300px;
    padding: 0;
    margin: 0;
    --color-scheme-background: #7e22ce;
    --color-scheme-background-light: #ddd6fe;
    --color-scheme-shadow: #d8b4fe;
    --color-scheme-text: #581c87;
    --color-scheme-border-light: #c084fc;
    --color-scheme-border-dark: #6b21a8;
    --color-scheme-dark: #581c87;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

header{
    display: flex;
    font-family: 'Oleo Script', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    background-color: var(--color-scheme-background);
    padding: 0 10%;
    height: 80px;
    align-items: center;
}

main{
    flex: 1;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Description Table */
.description{
    border-collapse: collapse;
    font-family: "Oleo Script", cursive;
    font-size: 1.4rem;
    color: var(--color-scheme-text);
}

.description td{
    padding: 0 16px;
}

.description td + td{
    border-left: 2px solid var(--color-scheme-border-dark);
}


footer{
    display: flex;
    font-family: 'Oleo Script', cursive;
    background-color: var(--color-scheme-background);
    color: white;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    height: 36px;
}

footer a{
    display: flex;
    text-decoration: none;
    color: white;
}

/* Item Display */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 32px;
    min-width: fit-content;
}

.grid-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
}

.grid-item div:first-child{
    background-color: var(--color-scheme-dark);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    padding: 8px;
}

.grid-item div + div{
    background-color: var(--color-scheme-background-light);
    color: var(--color-scheme-dark);
    padding-top: 8px;
}

.grid-item div:last-child{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-bottom: 8px;
}

/* Add New Book Button */
.btn-addBook{
    display: flex;
    border-radius: 50%;
    background-color: var(--color-scheme-background);
    border: none;
    color: white;
    font-size: 3.2rem;
    height: 3.2rem;
    width: 3.2rem;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.btn-addBook:hover{
    cursor: pointer;
}

/* button click behavior */
button:active{
    background-color: #9c2aff;
}

/* Overlay */
div[class="overlay hidden"] {
    display: none;
}

div[class="overlay"]{
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.4);
}

/* Form Element */
form.new-book{
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    gap: 12px;
    width: fit-content;
    background-color: #f3e8ff;
    border-radius: 8px;
    font-size: 1.4rem;
    margin: 0 16px;
}

form.new-book > div{
    display: flex;
    gap: 8px;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}

form.new-book > button[type="submit"]{
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 8px;
    border: none;
    align-self: center;
    background-color: var(--color-scheme-background);
    color: white;
    height: 1.8em;
    width: 8em;
    margin-top: 8px;
}

form.new-book > button[type="submit"]:hover{
    cursor: pointer;
}

form.new-book > div:first-child{
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.4em;
    color: var(--color-scheme-text);
    margin-bottom: 8px;
}

form.new-book div label{
    width: 155px;
    text-align: right;
}

form.new-book div label + *{
    flex: 1;
    border: 2px solid var(--color-scheme-border-light);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.9em;
}

form.new-book div label + *:focus{
    outline: none;
    border: 2px solid var(--color-scheme-border-dark);
}

form.new-book div select{
    padding: 2px 4px;
    border-radius: 4px;
    flex: 0;
}

form.new-book div .close{
    background-color: var(--color-scheme-background);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 1em;
    height: 1.4em;
    width: 1.4em;
}

@media only screen and (max-width:544px){
    form.new-book{
        font-size: 1rem;
    }
}

@media only screen and (max-width:464px){
    form.new-book div label{
        text-align: left;
    }
}